@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
body {
    background-repeat: repeat;
    background-image: linear-gradient(to right, #3c706b, #072631);
    font-family: "Roboto", helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

div.table-title {
    display: block;
    margin: auto;
    max-width: auto;
    padding: 5px;
    width: 100%;
    overflow-y: auto;
    height: 100px;
}

.table-title h3 {
    color: #fafafa;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}


/*** Table Styles **/

.table-fill {
    background: white;
    border-radius: 3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

.table-caption {
    color: #fafafa;
    font-size: 20px;
    text-align: left;
}

.table-exp {
    color: #fafafa;
    font-size: 18px;
    text-align: right;
}

th {
    color: #D5DDE5;
    background: #072631;
    border-bottom: 4px solid #000000;
    font-size: 18px;
    font-weight: 100;
    padding: 18px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
    position: sticky;
    top: 0;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

tr {
    color: #3c706b;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background: #3c706b64;
    color: #1d1b1b;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background: #3c706b6b;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}

* {
    font-family: sans-serif;
    /* Change your font family */
}

* {
    font-family: sans-serif;
    /* Change your font family */
}